<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ykim164cs242.tournamentor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TournamentorTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.StartMenuActivity" />
        <activity android:name=".ListItem.MatchListItem" />
        <activity
            android:name=".Activity.UserMainActivity"
            android:theme="@style/TournamentorThemeWithActionBar">

        </activity>
        <activity android:name=".Fragments.MatchListTab" />
        <activity android:name=".Activity.TeamListActivity" />
        <activity
            android:name=".LeagueInfoPopUp"
            android:theme="@style/AppTheme.popUpTheme" />
        <activity android:name=".Activity.StandingsActivity" />
        <activity android:name=".Activity.SelectChannelActivity"></activity>
    </application>

</manifest>